
@font-face {
    font-family: "Roboto";
    src: url(police/Roboto.ttf);
}


@font-face {
    font-family: "Lato";
    src: url(police/Lato.ttf);
}


body{margin:0;
    padding:0;}




.Screen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url(img/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: xx-large;
    color:white;
    font-family: "Roboto" , sans-serif;
}

h2{
    text-align:center;
    margin-top:5vh;
    margin-bottom:5vh;
    padding-bottom:5vh;
    text-decoration: underline;
    font-family: "Roboto" , sans-serif;
}

h2.pubtitr{

    text-align:center;
    margin-top:3vh;
    margin-bottom:3vh;
    padding-bottom:3vh;

}

h3{
    text-align:left;
    margin-left:15vw;
    text-decoration: underline;
    padding-top:3vh;
    font-family: "Roboto" , sans-serif;
    
}

h3.cent{
    text-align: center;
    margin-left:0;
}

p{
    margin-left:5vw;
    color:white;
    font-family: "Lato" , sans-serif;
}


footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
  }

#Play{
    background-image: url(img/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 100vh;
    padding-top:5vh;
}

#NotreClub{

    background-image: url(img/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 125vh;
    padding-top:5vh;

    
}

  


.prof, .equipe, .equipement, .num, .localisation, .mail, .cadence{
    background-color: rgba(128, 128, 128, 0.5);
    border: 3vw white;
    border-radius: 5vw;
    margin:2vh;
    padding-bottom:2vh;
}

#contact {

    background-image: url(img/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 100vh;
    padding-top:5vh;



}


.even{

    background-image: url(img/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 172vh;
    padding-top:5vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:1vh;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: underline;

}



#chessboard{
    text-align: center;
    padding-top:5vh;
}

.prix, .adhesion, .commodite{

    background-color: rgba(128, 128, 128, 0.5);
    border: 3vw white;
    border-radius: 5vw;
    margin:2vh;
    padding-bottom:1vh;
    padding-top:1vh;


}
button{
    text-align: center;
}

img.photo{width:70px;
    height:auto;
margin-left:5vw;
margin-top:2vw;
border-radius: 50px;}

img.pendule{
    width:80px;
    height:auto;
    object-fit: contain;
}

.fex{
    display: flex;
    flex-direction: row;
}

.fex2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


p.top{
    padding-top:2vw;
}

h3.right{
    margin:0;
    padding:2vw;
    text-align: center;
}
.cadence{
    display: flex;
    justify-content: center;
    align-items: center;
}

img.Photosalle{display:none;}

.grandformat{
    display:none;
}

.trop{
    display:none;
}

img.troph{
    display:none;
}


@media screen and (min-width: 500px){



    img.Photosalle{
        display: flex;
        max-width: 100%;


        
        

    }


    .grandformat {
        display:flex;
        height: 20vw;
        overflow: hidden; 
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        
    }


}

@media screen and (min-width: 700px){


.trop{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

img.troph{
    display:flex;
}




img.troph {
    width:200px;
    height:auto; 


}

iframe{
    width:80vw;
    height:50vw;
}


#NotreClub, #contact{

    height:100vh;
} 


}



@media screen and (min-width: 950px){

img.troph{
    width:300px;
}




}



@media screen and (min-width: 1300px){

    .grandformat {

        height: 10vw;
    
        margin-top: 0vh;
        
    }


    iframe{
        width:80vw;
        height:20vw;
    }

    .even{
        height:200vh;
    }

    .container{
        padding-top:0;
    }

}