.Screen1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url(img/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: xx-large;
    color:white;
}

h2{
    text-align:center;
    margin-top:5vh;
    margin-bottom:5vh;
    padding-bottom:5vh;
    text-decoration: underline;
}

h2.pubtitr{

    text-align:center;
    margin-top:3vh;
    margin-bottom:3vh;
    padding-bottom:3vh;

}

h3{
    text-align:left;
    margin-left:15vw;
    text-decoration: underline;
    padding-top:3vh;
    
}

h3.cent{
    text-align: center;
    margin-left:0;
}

p{
    margin-left:5vw;
    color:white;
}

#NotreClub, #play{
    background-image: url(img/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 100vh;
    padding-top:5vh;
}

.prof, .equipe, .equipement, .num, .localisation, .mail, .cadence{
    background-color: rgba(128, 128, 128, 0.5);
    border: 3vw white;
    border-radius: 5vw;
    margin:2vh;
    padding-bottom:2vh;
}

#contact {

    background-image: url(img/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 100vh;
    padding-top:5vh;



}


.even{

    background-image: url(img/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    height: 165vh;
    padding-top:5vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:1vh;

}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration: underline;

}



#chessboard{
    text-align: center;
    padding-top:5vh;
}

.prix, .adhesion, .commodite{

    background-color: rgba(128, 128, 128, 0.5);
    border: 3vw white;
    border-radius: 5vw;
    margin:2vh;
    padding-bottom:1vh;
    padding-top:1vh;


}
button{
    text-align: center;
}

img.photo{width:70px;
    height:auto;
margin-left:5vw;
margin-top:2vw;}

img.pendule{
    width:80px;
    height:auto;
    object-fit: contain;
}

.fex{
    display: flex;
    flex-direction: row;
}

p.top{
    padding-top:2vw;
}

h3.right{
    margin:0;
    padding:2vw;
    text-align: center;
}
.cadence{
    display: flex;
    justify-content: center;
    align-items: center;
}